In [15]:
import pyspark
import pyspark.sql
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import pyspark.sql.functions as F

In [29]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [31]:
df = spark.read.csv('/alteryx/files/test001.csv',header=True)

In [32]:
df = df.withColumn('dogAge',(df['age'].cast(IntegerType()) * 7))

In [33]:
df.show()

+---+-----+---+------+
| id| name|age|dogAge|
+---+-----+---+------+
|  1|Andre| 40|   280|
|  2|Azize| 35|   245|
|  3| Isac| 10|    70|
|  4|Fabio| 30|   210|
|  5| Luiz| 29|   203|
+---+-----+---+------+